$serif-stack: "Noto Serif JP", "Noto Serif KR", "Noto Serif", serif;
$sans-serif-stack: "Noto Sans JP", "Noto Sans KR", "Noto Sans", sans-serif;

body {
  font-family: $sans-serif-stack;
}

#main-content {
  main {
    h1,
    p,
    dd {
      font-family: $serif-stack;
    }

    // Prevent nested dt from inheriting from nesting dd
    dt,
    .label {
      font-family: $sans-serif-stack;
    }

    // Make the dt column width hug content
    dl {
      grid-template-columns: auto 1fr;
    }

    // Set horizontal distance between dt and dd
    dd {
      margin-left: 0.75em;
    }
  }
}
