<div class="horizontal-scroll-gallery">
  {% assign items = include.images | split: '|||||' %}
  {% for item in items %}
    {% comment %} 구분자 | 를 기준으로 경로와 캡션을 분리 {% endcomment %}
    {% assign parts = item | split: '|' %}
    {% assign img_url = parts[0] | strip %}
    {% assign caption = parts[1] | strip %}

    <div class="gallery-item" style="flex: 0 0 auto; text-align: center;">
      <img src="{{ img_url }}" alt="IMG" style="display: block; height: 30vh; width: auto;">
      {% if caption %}
        <p class="img_caption fs-2" style="margin-top: 8px">{{ caption }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
